@charset "utf-8";
html,body{
	width:auto;
	hegight:100%;
	margin: 0px auto;
	padding: 0px;
	font-size: 90%;
	font-weight: normal;                   
	font-style: normal;
	text-decoration: none;
	color: #000000;
	background-color: transparent;
	@font-face {
  	font-family: "bebasneue";
  	src: url("../font/BebasNeueRegular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	src: url("../font/BebasNeueRegular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
	src: url("../font/BebasNeueRegular.eot");
	src: url("../font/BebasNeueRegular.svg") format("svg");
	}
	font-family:"メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic" Helvetica, sans-serif;
}
img{
	border: none;
	vertical-align: bottom;
}
/*--------- レイアウト ---------*/
body{
	background:#fff url("../images/manyflower.jpg") top center repeat;
	background-size:cover;
}
#wrapper{
	width:750px;
	margin:0px auto;
	background:#fff;
}
.header_main{
	position:relative;
	margin:0px auto;
	width:750px;
	height:40px;
	font-size: 13px;
	background:#8ecacf;
}
#header_main a{
	position:absolute;
	display:block;
	width:80px;
	height:80px;
	line-height:80px;
	text-decoration:none;
	text-align:center;
}
#kiho{
	float:left;
	display:block;
	width:150px;
	height:40px;
	margin-right:450px;
	font-size:17px;
	letter-spacing: 3px;
	background:#c3e8eb;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	font-family:bebasneue;
}
#kiho a{
	padding-top:6px;
	text-decoration:none;
}
#kiho a:link{
	color:#1e3b43;
}
#kiho a:visited{
	color:#1e3b43;
}
#kiho a:hover{
	color:#1e3b43;
}
#kiho a:active{
	color:#1e3b43;
}
.header_icons{
	float:left;
	display:block;
	width:150px;
	height:40px;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}
.icons{
	color:#1e3b43;
	padding:0px 10px;
	text-decoration:none;
}
#menu{
	float:left;
	width:750px;
	background:#987;
}
#main{
	float:left;
	width:750px;
	padding:0px;
	background:none;
	margin:0px 75px;
}
#footer{
	clear:both;
	width:750px;
	height:20px;
	line-height:20px;
	background:#BFEAED;
	color:#2E5157;
	font-size:0.8em;
	text-align:center;
}
#mainh1{
	position: relative;
	background:#fff url("../images/flower.jpg") center;
	background-size:cover;
	height: 120px;
	border-bottom:1px #888 solid;
}
#mainh1 h1{
	position: absolute;
	top: 25%;
	left: 50%;
	text-shadow: 1px 1px 5px #b1ac25,
            	 -1px 1px 5px #b1ac25,
          	  	 1px -1px 5px #b1ac25,
          	  	 -1px -1px 5px #b1ac25;
	transform : translate(-50%,-50%);
	color:#fff;
	font-size:4em;
	letter-spacing: 5px;
	text-align: center;/*一応BOX内の文字も中央寄せ*/
	font-family: "bebasneue";
	}


/*--------- メニュー用レイアウト ---------*/
#menu ul{
	margin: 0px;
	padding: 0px;
	list-style:none outside;
	/*conf.cssとマージした時用*/
	border:none;
	width:750px;
}
#menu li a{
	float:left;
	display:block;
	width:150px;
	height:50px;
	background:#fff;
	font-size:15px;
	letter-spacing: 5px;
	font-family:bebasneue;
	color:#305350;
	text-decoration:none;
	line-height:55px;
	text-align:center;
}
#menu li a:hover{
	text-decoration:underline;
}
.visit{display:none;}
/*--------- メニュー背景用 ---------*/

/*--------- タグ ---------*/
h2{
	width:500px;
	padding:0px 5px;
	margin:20px 45px 5px;
	font-size:1.5em;
	color:#704C8B;
	text-align:center;
}
h3{
	width:500px;
	padding:0px 5px;
	margin:20px 45px 5px;
	font-size:1.3em;
	color:#99911F;
	text-align:center;
}
p{
	width:510px;
	padding:5px;
	margin:5px 40px 20px;
	color:#666;
	font-size:12px;
	text-align:center;
}
ul{
	width:508px;
	padding:5px;
	margin:5px 40px 40px;
	border:1px solid #9ededd;
	list-style:inside decimal;
	text-align:center;
}
table{
	width:518px;
	padding:0px;
	margin:5px 40px 40px;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #9ededd;
	text-align:center;
}
th,td{
	padding:2px 5px;
	border:1px solid #9ededd;
	text-align:left;
	text-align:center;
}
th{
	background:#eee;
	color:#000;
}
img{
	width:200px;
	margin:10px 200px 0px;
	border:0px;
}
hr{display:none;
}

